/*
           Color Palette
*/
/*
    Night grey: #30302F
    Dark grey: #575555
    Warm grey: #C7C4C2
    Creamy white: #FFFBF9
    Egg: #F9F3EF;
    Darkbark brown: #695848
    Orange kick: #FF5933
    Balance blue: #C2E3FF
*/
/*============================================*/
/*
           Color Scheme
*/

body{
    background-color: #d7d8d7;
    color: #575555;
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
tr, th,td{
    border: 1px solid #000000;
}
.main-header{
    margin-bottom: 0;
    padding-bottom: 0;
}
.sub-header{
    padding-top: 0;
    margin-top: 0;
}
header{
    width: 100%;
    background-color: #fccc13;
}
/*.wrapper{*/
    /*background-color: transparent;*/
    /*pointer-events:none;*/
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');*/
    /*background:none !important;*/
/*}*/
/*.wrapper .row .columns *, .wrapper .row .column *{*/
    /*pointer-events:auto;*/
/*}*/
nav{
    background-color: #fccc13;
}
nav ul{
    background-color: #695848;
}
nav ul li p{
    background-color: #575555;
    color: #C2E3FF;
}
nav ul.subNav li a p{
    background-color: #575555;
    color: #C2E3FF;
}
nav ul li p:hover{
    background-color: #FFFBF9;
    color: #575555;
}
.subNav li a p:hover{
    background-color: #C2E3FF;
    color: #30302F;
}
a{
    color: #FF703E;
}
a:hover{
    color: #575555;
}
button{
    background-color: #FF5933;
    color: #FFFBF9;
}
input{
    background-color: #C7C4C2;
}
input:focus{
    background-color: #C2E3FF ;
}
textarea.twelve.columns{
    background-color: #C7C4C2;
}
textarea:focus{
    background-color: #C2E3FF;
}
button.free{
    background-color: #96E5B1;
}
button:hover{
    background-color: #575555 ;
    color: #C2E3FF ;
}
.columns, .column{
    /*background-color: white;*/
}
form{
    background-color: white;
}
/*===========================================*/
/*
           Font Styling
*/
h1{
    font-size: 3.2em; /*32px*/
}
h2{
    font-size: 2.6em; /*20px*/
}
h3{
    font-size: 2.2em; /*16px*/
}
h4{
    font-size: 1.8em; /*14px*/
}
h5{
    font-size: 1.6em; /*13px*/
}
h6{
    font-size: 1.4em; /*12px*/
}
p{
    font-size: 1.5em; /*26px*/
}
a{
    font-size: 1.3em; /*26px*/
}
button{
    font-size: 1.5em; /*26px*/
    line-height: 35px;
}
#details p{
    margin-top: 10px;
}
#details .row p.fleft{
    font-weight: bold;
    margin-top: 15px;
}
/*===========================================*/
/*
           Page Styling
*/
div#nav{
    margin-top: 15px;
}

#browse{
    margin-top: 15px;
}
div.row div.four.columns th{
    padding-top: 40px;
}
body>div.row:first-child{
    padding-bottom: 0;
}
h1:first-of-type{
    margin-bottom: 19px;
}
#share{
    line-height: 35px;
    font-size: 1.8em;
    float: left;
}
.lineHeight{
    line-height: 35px;
}
textarea.twelve.columns{
    float:left;
    overflow: hidden;
    margin-top: 18px;
    padding: 10px 0 0 1.6%;
    width: 53.488372%;
    min-height: 75px;
}
#email_submit{
    margin-left: 11.2%;
    margin-top: 30px;
    width: 55.4%;
}
img[src="img/galley_01/sample_"]{
    width: 20%;
}